# Variant Log Generation

We use this notebook to generate the variant logs that are re-used to calculate the measures for our variant models.

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
from ocpa.objects.log.importer.ocel import factory as ocel_import_factory
from src.utils import generate_variant_log
from models.alignment_measure import  filter_case_variants
from ocpa.objects.log.importer.csv import factory as ocel_import_factory_csv

In [3]:
filename = "../src/data/jsonocel/order_process.jsonocel"
ocel = ocel_import_factory.apply(filename)

In [4]:
generate_variant_log(ocel,"../src/data/csv/order_process_variant_log.csv" )

,event_id,event_activity,event_timestamp,event_start_timestamp,order,item,delivery,event_variant
event_index,,,,,,,,
0,0,Place Order_0,2022-10-20 16:56:19.864004,2022-10-20 16:56:19.864004,[order1],"[item3, item2]",[],[0]
1,1,Confirm Order_0,2022-10-20 16:56:20.864004,2022-10-20 16:56:20.864004,[order1],"[item3, item2]",[],[0]
2,2,Pick Item_0,2022-10-20 17:01:51.864004,2022-10-20 17:01:51.864004,[],[item3],[],[0]
3,3,Pick Item_0,2022-10-20 17:01:51.864004,2022-10-20 17:01:51.864004,[],[item2],[],[0]
4,4,Pay Order_0,2022-10-20 17:01:51.864004,2022-10-20 17:01:51.864004,[order1],[],[],[0]
...,...,...,...,...,...,...,...,...
2386,2386,Start Route_8,2022-12-17 23:00:15.871959,2022-12-17 23:00:15.871959,[],"[item199, item196]",[delivery64],[8]
2387,2387,End Route_8,2022-12-18 04:01:04.871959,2022-12-18 04:01:04.871959,[],"[item199, item196]",[delivery64],[8]
2388,2388,Fuel Car_8,2022-12-18 06:59:45.871959,2022-12-18 06:59:45.871959,[],[],[delivery193],[8]
2389,2389,Start Route_8,2022-12-18 07:25:24.871959,2022-12-18 07:25:24.871959,[],"[item265, item259]",[delivery193],[8]
2390,2390,End Route_8,2022-12-18 12:23:32.871959,2022-12-18 12:23:32.871959,[],"[item265, item259]",[delivery193],[8]

In [5]:
filename = "../src/data/jsonocel/p2p-normal.jsonocel"
ocel = ocel_import_factory.apply(filename)

In [6]:
generate_variant_log(ocel,"../src/data/csv/p2p_variant_log.csv" )

,event_id,event_activity,event_timestamp,event_start_timestamp,PURCHREQ,MATERIAL,PURCHORD,GDSRCPT,INVOICE,event_variant
event_index,,,,,,,,,,
0,0,Create Purchase Requisition_3,2021-03-01 09:00:00+01:00,2021-03-01 09:00:00+01:00,[PURCHREQ0],"[MATERIAL2, MATERIAL0, MATERIAL4, MATERIAL1, M...",[],[],[],[3]
9,9,Create Purchase Requisition_11,2021-03-01 09:02:00+01:00,2021-03-01 09:02:00+01:00,[PURCHREQ1],"[MATERIAL9, MATERIAL7, MATERIAL10, MATERIAL6, ...",[],[],[],[11]
1,1,Create Purchase Order_3,2021-03-04 09:00:00+01:00,2021-03-04 09:00:00+01:00,[PURCHREQ0],"[MATERIAL2, MATERIAL0, MATERIAL4, MATERIAL1, M...",[PURCHORD0],[],[],[3]
18,18,Create Purchase Requisition_11,2021-03-04 09:00:00+01:00,2021-03-04 09:00:00+01:00,[PURCHREQ2],"[MATERIAL15, MATERIAL12, MATERIAL11, MATERIAL1...",[],[],[],[11]
10,10,Create Purchase Order_11,2021-03-04 09:02:00+01:00,2021-03-04 09:02:00+01:00,[PURCHREQ1],"[MATERIAL9, MATERIAL7, MATERIAL10, MATERIAL6, ...",[PURCHORD1],[],[],[11]
...,...,...,...,...,...,...,...,...,...,...
717,717,Plan Goods Issue_0,2021-07-26 09:00:00+01:00,2021-07-26 09:00:00+01:00,[],"[MATERIAL408, MATERIAL410, MATERIAL411, MATERI...",[],[],[],[0]
709,709,Clear Invoice_19,2021-07-27 09:00:00+01:00,2021-07-27 09:00:00+01:00,[],[],[PURCHORD78],[GDSRCPT78],"[INVOICE123, INVOICE124]",[19]
710,710,Goods Issue_19,2021-07-27 09:00:00+01:00,2021-07-27 09:00:00+01:00,[],"[MATERIAL407, MATERIAL405, MATERIAL406]",[],[],[],[19]
718,718,Clear Invoice_0,2021-07-27 09:00:00+01:00,2021-07-27 09:00:00+01:00,[],[],[PURCHORD79],[GDSRCPT79],"[INVOICE126, INVOICE125]",[0]
719,719,Goods Issue_0,2021-07-27 09:00:00+01:00,2021-07-27 09:00:00+01:00,[],"[MATERIAL408, MATERIAL410, MATERIAL411, MATERI...",[],[],[],[0]

In [ ]:
filename = "../src/data/jsonocel/BPI2017-Final.jsonocel"
ocel = ocel_import_factory.apply(filename)

In [8]:
generate_variant_log(ocel,"../src/data/csv/bpi2017_variant_log.csv" )

,event_id,event_activity,event_timestamp,event_OfferedAmount,event_RequestedAmount,event_org:resource,event_ApplicationType,event_NumberOfTerms,event_Selected,event_CreditScore,...,event_Action,event_Accepted,event_EventOrigin,event_None,event_LoanGoal,event_MonthlyCost,event_start_timestamp,application,offer,event_variant
event_index,,,,,,,,,,,,,,,,,,,,,
0,0,Create application_8,2016-01-01 10:51:15.304,NaN,20000.0,User_1,New credit,NaN,NaN,NaN,...,Created,NaN,Application,0,Existing loan takeover,NaN,2016-01-01 10:51:15.304,[Application_652823628],[],[8]
1,1,Submit_8,2016-01-01 10:51:15.352,NaN,20000.0,User_1,New credit,NaN,NaN,NaN,...,statechange,NaN,Application,1,Existing loan takeover,NaN,2016-01-01 10:51:15.352,[Application_652823628],[],[8]
40,40,Create application_4974,2016-01-01 11:16:11.500,NaN,10000.0,User_1,New credit,NaN,NaN,NaN,...,Created,NaN,Application,13,Home improvement,NaN,2016-01-01 11:16:11.500,[Application_1691306052],[],[4974]
41,41,Submit_4974,2016-01-01 11:16:11.549,NaN,10000.0,User_1,New credit,NaN,NaN,NaN,...,statechange,NaN,Application,14,Home improvement,NaN,2016-01-01 11:16:11.549,[Application_1691306052],[],[4974]
69,69,Create application_244,2016-01-01 12:19:38.177,NaN,15000.0,User_1,New credit,NaN,NaN,NaN,...,Created,NaN,Application,23,Home improvement,NaN,2016-01-01 12:19:38.177,[Application_428409768],[],[244]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120964,1120964,Create offer_1781,2017-02-01 12:23:03.198,42200.0,40000.0,User_10,New credit,180.0,False,0.0,...,statechange,False,Offer,380576,Remaining debt home,314.72,2017-02-01 12:23:03.198,[Application_1170192930],[Offer_1033292322],[1781]
1120965,1120965,Send (online)_1781,2017-02-01 12:23:42.537,42200.0,40000.0,User_10,New credit,180.0,False,0.0,...,statechange,False,Offer,380577,Remaining debt home,314.72,2017-02-01 12:23:42.537,[],[Offer_1033292322],[1781]
1158521,1158521,Call incomplete files_4102,2017-02-01 14:23:26.982,25000.0,20000.0,User_109,New credit,64.0,True,0.0,...,Obtained,False,Workflow,393330,Home improvement,435.79,2017-02-01 14:23:26.982,[Application_141572677],[],[4102]
1150199,1150199,Validate_4803,2017-02-01 14:53:37.763,25000.0,50000.0,User_131,New credit,120.0,True,0.0,...,Obtained,True,Workflow,390586,Existing loan takeover,254.56,2017-02-01 14:53:37.763,[Application_586083090],[],[4803]
1033848,1033848,Validate_2669,2017-02-01 15:00:30.275,16500.0,17250.0,User_131,New credit,120.0,True,0.0,...,Obtained,True,Workflow,351125,Existing loan takeover,169.53,2017-02-01 15:00:30.275,[Application_637536789],[],[2669]

We do the same now, for the filtered event logs that have been created.

In [9]:
filename_filtered = "../src/data/filtered_traces/order_process_filtered.csv"
object_types = ["order","item","delivery"]
parameters = {"obj_names": object_types,
              "val_names": [],
              "act_name": "event_activity",
              "time_name": "event_timestamp",
              "sep": ","}
ocel_filtered = ocel_import_factory_csv.apply(file_path=filename_filtered, parameters=parameters)

In a further step, we also generrate the variant log of the filtered event log and save it as csv file that we can import again.

In [10]:
generate_variant_log(ocel_filtered,"../src/data/filtered_traces/order_process_variant_filtered.csv" ,filtered=True)

,event_id,event_start_timestamp,order,item,delivery,event_variant,event_activity,event_timestamp,event_start_timestamp
event_index,,,,,,,,,
0,0,2022-10-20 16:56:19.864004,[order1],"[item3, item2]",[],[0],Place Order_0,2022-10-20 16:56:19.864004,2022-10-20 16:56:19.864004
1,1,2022-10-20 16:56:20.864004,[order1],"[item3, item2]",[],[0],Confirm Order_0,2022-10-20 16:56:20.864004,2022-10-20 16:56:20.864004
2,2,2022-10-20 17:01:51.864004,[],[item3],[],[0],Pick Item_0,2022-10-20 17:01:51.864004,2022-10-20 17:01:51.864004
3,3,2022-10-20 17:01:51.864004,[],[item2],[],[0],Pick Item_0,2022-10-20 17:01:51.864004,2022-10-20 17:01:51.864004
4,4,2022-10-20 17:01:51.864004,[order1],[],[],[0],Pay Order_0,2022-10-20 17:01:51.864004,2022-10-20 17:01:51.864004
...,...,...,...,...,...,...,...,...,...
2386,2386,2022-12-17 23:00:15.871959,[],"[item199, item196]",[delivery64],[8],Start Route_8,2022-12-17 23:00:15.871959,2022-12-17 23:00:15.871959
2387,2387,2022-12-18 04:01:04.871959,[],"[item199, item196]",[delivery64],[8],End Route_8,2022-12-18 04:01:04.871959,2022-12-18 04:01:04.871959
2388,2388,2022-12-18 06:59:45.871959,[],[],[delivery193],[8],Fuel Car_8,2022-12-18 06:59:45.871959,2022-12-18 06:59:45.871959
2389,2389,2022-12-18 07:25:24.871959,[],"[item265, item259]",[delivery193],[8],Start Route_8,2022-12-18 07:25:24.871959,2022-12-18 07:25:24.871959
2390,2390,2022-12-18 12:23:32.871959,[],"[item265, item259]",[delivery193],[8],End Route_8,2022-12-18 12:23:32.871959,2022-12-18 12:23:32.871959

In [14]:
filename_filtered = "../src/data/filtered_traces/p2p-normal_filtered.csv"
object_types = ["PURCHORD","INVOICE","PURCHREQ","MATERIAL","GDSRCPT"]
parameters = {"obj_names": object_types,
              "val_names": [],
              "act_name": "event_activity",
              "time_name": "event_timestamp",
              "sep": ","}
ocel_filtered = ocel_import_factory_csv.apply(file_path=filename_filtered, parameters=parameters)

In [16]:
generate_variant_log(ocel_filtered,"../src/data/filtered_traces/p2p_variant_filtered.csv", filtered=True )

,event_id,event_start_timestamp,PURCHREQ,MATERIAL,PURCHORD,GDSRCPT,INVOICE,event_variant,event_activity,event_timestamp,event_start_timestamp
event_index,,,,,,,,,,,
0,0,2021-03-01 09:00:00+01:00,[PURCHREQ0],"[MATERIAL2, MATERIAL0, MATERIAL4, MATERIAL1, M...",[],[],[],[3],Create Purchase Requisition_3,2021-03-01 09:00:00+01:00,2021-03-01 09:00:00+01:00
9,9,2021-03-01 09:02:00+01:00,[PURCHREQ1],"[MATERIAL9, MATERIAL7, MATERIAL10, MATERIAL6, ...",[],[],[],[11],Create Purchase Requisition_1,2021-03-01 09:02:00+01:00,2021-03-01 09:02:00+01:00
1,1,2021-03-04 09:00:00+01:00,[PURCHREQ0],"[MATERIAL2, MATERIAL0, MATERIAL4, MATERIAL1, M...",[PURCHORD0],[],[],[3],Create Purchase Order_3,2021-03-04 09:00:00+01:00,2021-03-04 09:00:00+01:00
10,10,2021-03-04 09:02:00+01:00,[PURCHREQ1],"[MATERIAL9, MATERIAL7, MATERIAL10, MATERIAL6, ...",[PURCHORD1],[],[],[11],Create Purchase Order_1,2021-03-04 09:02:00+01:00,2021-03-04 09:02:00+01:00
27,27,2021-03-04 09:02:00+01:00,[PURCHREQ3],"[MATERIAL16, MATERIAL18, MATERIAL19, MATERIAL17]",[],[],[],[4],Create Purchase Requisition_4,2021-03-04 09:02:00+01:00,2021-03-04 09:02:00+01:00
...,...,...,...,...,...,...,...,...,...,...,...
706,706,2021-07-26 09:00:00+01:00,[],"[MATERIAL407, MATERIAL405, MATERIAL406]",[],[],[],[19],Plan Goods Issue_1,2021-07-26 09:00:00+01:00,2021-07-26 09:00:00+01:00
707,707,2021-07-26 09:00:00+01:00,[],"[MATERIAL407, MATERIAL405, MATERIAL406]",[],[],[],[19],Verify Material_1,2021-07-26 09:00:00+01:00,2021-07-26 09:00:00+01:00
708,708,2021-07-26 09:00:00+01:00,[],[],[PURCHORD78],[],"[INVOICE123, INVOICE124]",[19],Receive Invoice_1,2021-07-26 09:00:00+01:00,2021-07-26 09:00:00+01:00
709,709,2021-07-27 09:00:00+01:00,[],[],[PURCHORD78],[GDSRCPT78],"[INVOICE123, INVOICE124]",[19],Clear Invoice_1,2021-07-27 09:00:00+01:00,2021-07-27 09:00:00+01:00
710,710,2021-07-27 09:00:00+01:00,[],"[MATERIAL407, MATERIAL405, MATERIAL406]",[],[],[],[19],Goods Issue_1,2021-07-27 09:00:00+01:00,2021-07-27 09:00:00+01:00

We do the same now, for the filtered event logs that have been created.

In [3]:
filename_filtered = "../src/data/filtered_traces/BPI2017-Final_filtered.csv"
object_types = ["application","offer"]
parameters = {"obj_names": object_types,
              "val_names": [],
              "act_name": "event_activity",
              "time_name": "event_timestamp",
              "sep": ","}
ocel_filtered = ocel_import_factory_csv.apply(file_path=filename_filtered, parameters=parameters)

In a further step, we also generrate the variant log of the filtered event log and save it as csv file that we can import again.

In [4]:
generate_variant_log(ocel_filtered,"../src/data/filtered_traces/BPI2017-Final_variant_filtered.csv" ,filtered=True)

,event_id,event_OfferedAmount,event_RequestedAmount,event_org:resource,event_ApplicationType,event_NumberOfTerms,event_Selected,event_CreditScore,event_Unnamed: 0,event_FirstWithdrawalAmount,...,event_None,event_LoanGoal,event_MonthlyCost,event_start_timestamp,application,offer,event_variant,event_activity,event_timestamp,event_start_timestamp
event_index,,,,,,,,,,,,,,,,,,,,,
0,0,NaN,20000.0,User_1,New credit,NaN,NaN,NaN,0,NaN,...,0,Existing loan takeover,NaN,2016-01-01 10:51:15.304,[Application_652823628],[],[8],Create application_8,2016-01-01 10:51:15.304,2016-01-01 10:51:15.304
1,1,NaN,20000.0,User_1,New credit,NaN,NaN,NaN,1,NaN,...,1,Existing loan takeover,NaN,2016-01-01 10:51:15.352,[Application_652823628],[],[8],Submit_8,2016-01-01 10:51:15.352,2016-01-01 10:51:15.352
40,40,NaN,10000.0,User_1,New credit,NaN,NaN,NaN,13,NaN,...,13,Home improvement,NaN,2016-01-01 11:16:11.500,[Application_1691306052],[],[4974],Create application_4,2016-01-01 11:16:11.500,2016-01-01 11:16:11.500
41,41,NaN,10000.0,User_1,New credit,NaN,NaN,NaN,14,NaN,...,14,Home improvement,NaN,2016-01-01 11:16:11.549,[Application_1691306052],[],[4974],Submit_4,2016-01-01 11:16:11.549,2016-01-01 11:16:11.549
69,69,NaN,15000.0,User_1,New credit,NaN,NaN,NaN,23,NaN,...,23,Home improvement,NaN,2016-01-01 12:19:38.177,[Application_428409768],[],[244],Create application_2,2016-01-01 12:19:38.177,2016-01-01 12:19:38.177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120964,1120964,42200.0,40000.0,User_10,New credit,180.0,False,0.0,380576,42200.0,...,380576,Remaining debt home,314.72,2017-02-01 12:23:03.198,[Application_1170192930],[Offer_1033292322],[1781],Create offer_1,2017-02-01 12:23:03.198,2017-02-01 12:23:03.198
1120965,1120965,42200.0,40000.0,User_10,New credit,180.0,False,0.0,380577,42200.0,...,380577,Remaining debt home,314.72,2017-02-01 12:23:42.537,[],[Offer_1033292322],[1781],Send (online)_1,2017-02-01 12:23:42.537,2017-02-01 12:23:42.537
1158521,1158521,25000.0,20000.0,User_109,New credit,64.0,True,0.0,393330,25000.0,...,393330,Home improvement,435.79,2017-02-01 14:23:26.982,[Application_141572677],[],[4102],Call incomplete files_4,2017-02-01 14:23:26.982,2017-02-01 14:23:26.982
1150199,1150199,25000.0,50000.0,User_131,New credit,120.0,True,0.0,390586,0.0,...,390586,Existing loan takeover,254.56,2017-02-01 14:53:37.763,[Application_586083090],[],[4803],Validate_4,2017-02-01 14:53:37.763,2017-02-01 14:53:37.763
1033848,1033848,16500.0,17250.0,User_131,New credit,120.0,True,0.0,351125,1646.0,...,351125,Existing loan takeover,169.53,2017-02-01 15:00:30.275,[Application_637536789],[],[2669],Validate_2,2017-02-01 15:00:30.275,2017-02-01 15:00:30.275